<ion-header [translucent]="true">
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">

    </ion-toolbar>
  </ion-header>

  <ion-col>
    <div style="font-size: 20px;">
      อุณหภูมิ
      <div>
        {{ ShowTemp }}
      </div>
      <div style="text-align: right">
        <ion-icon name="thermometer-outline"></ion-icon>
      </div>

      <ion-button (click)="ShowTemperture()" size="small" name="temp" color="tertiary">SHOW</ion-button>
    </div>

    <div style="font-size: 20px;">
      ความชื้น
      <div>{{ ShowHum }}</div>
      <div style="text-align: right">
        <ion-icon name="rainy-outline"></ion-icon>
      </div>

      <ion-button (click)="ShowHumidity()" size="small" name="temp" color="tertiary">SHOW</ion-button>
    </div>