<ion-header [translucent]="true">
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary"> </ion-toolbar>
  </ion-header>

  <center><ion-button color="primary">SHOW</ion-button></center>


  <!-- <ion-list>
    <ion-item>
      <ion-label
        >อุณหภูมิ <br />
        <br />
        35
      </ion-label>
     
      <ion-button color="secondary">แก้ไข</ion-button>
      <ion-button color="danger">ลบ</ion-button>
    </ion-item>
    <br>
    <ion-item>
      <ion-label
        >ความชื้น <br />
        <br />
        60
      </ion-label>
      <ion-button color="secondary">แก้ไข</ion-button>
      <ion-button color="danger">ลบ</ion-button>
    </ion-item>
    <br>
    <ion-item>
      <ion-label
        >วันที่ <br />
        <br />
        10/11/2564</ion-label
      >
      <ion-button color="secondary">แก้ไข</ion-button>
      <ion-button color="danger">ลบ</ion-button>
    </ion-item>
    <br>
    <ion-item>
      <ion-label
        >เวลาที่เริ่ม <br />
        <br />
        17:00น.</ion-label
      >
      <ion-button color="secondary">แก้ไข</ion-button>
      <ion-button color="danger">ลบ</ion-button>
    </ion-item>
    <br>
    <ion-item>
      <ion-label
        >เวลาที่สิ้นสุด <br />
        <br />
        18:00น.</ion-label
      >
      <ion-button color="secondary">แก้ไข</ion-button>
      <ion-button color="danger">ลบ</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
 -->