<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary"> </ion-toolbar>
  </ion-header>

  <ion-col>
    <div>
      <div style="font-size: 15px">
        <ion-label>วันที่เริ่ม</ion-label>
      </div>

      <div style="border: solid 1px;   border-radius: 10px">
        <ion-datetime value="2021-02-19" placeholder="Select Date" #SetDateS></ion-datetime>
      </div>
      <br />

      <div style="font-size: 15px">
        <ion-label>วันที่สิ้นสุด</ion-label>
      </div>

      <div style="border: solid 1px; border-radius: 10px">
        <ion-datetime value="2021-02-19" placeholder="Select Date" #SetDateE></ion-datetime>
      </div>
      <br />

      <div style="font-size: 15px">
        <ion-label>เวลาที่เริ่ม</ion-label>
        <div style="border: solid 1px; border-radius: 10px">
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z" #SetTimeS></ion-datetime>

        <ion-label>เวลาที่สิ้นสุด</ion-label>
        <div style="border: solid 1px; border-radius: 10px">
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z" #SetTimeE>
         

        <div style="text-align: center">
          <ion-button color="success"
            (click)="SetDateAndTime(SetDateS.value, SetDateE.value, SetTimeS.value, SetTimeE.value)">Success
          </ion-button>
        </div>
