<ion-header [translucent]="true">
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary"> </ion-toolbar>
  </ion-header>

  <ion-col>
    <div style="font-size: 20px">
      อุณหภูมิ
      <div>{{ ShowTemp }}</div>
      <div style="text-align: right">
        <ion-icon name="thermometer-outline"></ion-icon>
      </div>

      <ion-button
        (click)="ShowTemperture()"
        size="small"
        name="temp"
        color="tertiary"
        >SHOW</ion-button
      >
    </div>

    <div style="font-size: 20px">
      ความชื้น
      <div>{{ ShowHum }}</div>
      <div style="text-align: right">
        <ion-icon name="rainy-outline"></ion-icon>
      </div>

      <ion-button
        (click)="ShowHumidity()"
        size="small"
        name="temp"
        color="tertiary"
        >SHOW</ion-button
      >
    </div>

    <ion-col>
      <div style="margin-top: 0px">
        <div style="font-size: 20px">
          <ion-label>อุณหภูมิ C°</ion-label>

          <ion-input
            type="number"
            [(ngModel)]="SetTemperture"
            #setTemp1
          ></ion-input>
          <!--(ionChange)="koko(tamo.value)" [(ngModel)]="humidity" #tamo-->
          <br />
          <ion-label>ความชื้น %</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="SetHumidity"
            #setHum1
          ></ion-input>
        <div style="text-align: center">
          <ion-button (click)="sendData(setTemp1.value, setHum1.value)">
            SUCCESS
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-col></ion-content
>
