.onoffswitch {
  position: relative;
  width: 63px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 11px;
  background-color: skyblue;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 11px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 8px;
  margin: 11px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  border: 2px solid #999999;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.button {
  text-align: center;
  display: inline-block;
  font-size: 11px;
}

ion-col > div {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 3px grey;
  margin-bottom: 10px;
  margin: 15px;
}

ion-input {
  border: solid 1px;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
}

.ion-datestart {
  border: solid 1px;
  border-radius: 10px;
  margin-right: 60%;
  height: 35px;
}

.ion-datefinish {
  border: solid 1px;
  border-radius: 10px;
  margin-right: 60%;
  height: 35px;
}
.ion-timestart {
  border: solid 1px;
  border-radius: 10px;
  margin-right: 60%;
  height: 35px;
}

.ion-timefinish {
  border: solid 1px;
  border-radius: 10px;
  margin-right: 60%;
  height: 35px;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 15px;
}
.p {
  font-size: 50px;
}
